<div class="video-details-container" fxLayout.gt-xs="row wrap" *ngIf="video" fxLayout="column" fxLayoutGap="0">
    <div class="video-details-content" fxFlex="70%" fxFlexFill fxLayout="row wrap" fxLayoutAlign="space-evenly">
        <video fxFlex="100%" controls poster="{{video.imageLocation}}">
            <source src="{{video.videoLocation}}" type="video/mp4">
            A böngésződ nem támogatja a HTML5 video tag-et!
        </video>
        <h1 class="mat-h1 title" fxFlex.gt-xs="80%">{{video.longName}}</h1>
        <p fxFlex.gt-xs="20%">16 like 125 view 2019.12.05</p>
        <p class="description">{{video.description}}</p>
    </div>
    <div class="video-details-sidenav" *ngIf="relatedVideos" fxFlex.gt-xs="30%">
        <div class="related-videos-list scrollable" fxLayout="column" fxLayoutGap="20px">
            <app-related-list-item *ngFor="let video of relatedVideos" [video]="video" ></app-related-list-item>
        </div>
    </div>
</div>
<div class="spinner-container" *ngIf="!video || !relatedVideos">
  <mat-spinner [mode]="'indeterminate'" [diameter]='100' [strokeWidth]='5'></mat-spinner>
</div>