<mat-card fxFlex="90%" fxFlex.gt-xs="0 1 320px" class="card-picture">
    <a class="video-link" routerLink="{{video.id}}">
        <mat-card-title fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex="{(isLoggedIn): '90%' : '100%'}" class="title">{{video.longName}}</div>
            
            <ng-container *ngIf="isLoggedIn">
                <mat-icon fxFlex="10%" *ngIf="video.visible">public</mat-icon>
                <mat-icon fxFlex="10%" *ngIf="!video.visible">lock</mat-icon>
                <mat-icon fxFlex="10%" *ngIf="video.archived">insert_drive_file</mat-icon>
            </ng-container>
        </mat-card-title>

        <img mat-card-image src="{{video.imageLocation}}">

        <mat-card-footer fxLayout="row" fxLayoutAlign="end end">
            <mat-chip-list fxLayout="row" fxLayoutAlign="end end">
                <mat-chip color="primary" *ngFor="let tag of video.videoTags" selected>{{tag.longName}}</mat-chip>
            </mat-chip-list>
        </mat-card-footer>
    </a>
</mat-card>