
<mat-drawer-container class="flex-container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="logo" routerLink="/"> B S S </span>

      <button mat-button routerLink="/videos">Videók</button>
      <button mat-button routerLink="/courses">Tanfolyamok</button>
      <button mat-button routerLink="/profiles">Tagok</button>
      <button mat-button routerLink="/about">Rólunk</button>
      
      <span class="spacer"></span>
      
      <mat-form-field class="search-form">
        <input matInput placeholder="Search Picture" type="text">
      </mat-form-field>
      <button button="submit" mat-raised-button color="primary">Search</button>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <router-outlet></router-outlet>

  <mat-drawer #drawer position="end">
      <img class="round" src="https://via.placeholder.com/125">
      <h4 class="text">Példa Béla Hosszú Nevű</h4>
      <button color="primary" mat-button>Profilom</button>
      <button color="primary" mat-button>Adások</button>
      <button color="primary" mat-button>Projektek</button>
      <button color="primary" mat-button>BSS Wiki</button>
      <button color="primary" mat-button>Kijelentkezés</button>
  </mat-drawer>
</mat-drawer-container>
