
<mat-drawer-container class="flex-container">
  <mat-toolbar color="primary" fxLayout.lt-sm="column">
      <span class="logo" fxFlex.lt-sm="100%" routerLink="/"><img src="/assets/img/bss_logo.png"></span>
      <span class="logo-triangle" fxHide.lt-sm="true"></span>

      <button mat-button fxFlex.lt-sm="100%" fxFlex="100px 0 100px" routerLink="/videos">Médiatár</button>
      <button mat-button fxFlex.lt-sm="100%" fxFlex="100px 0 100px" routerLink="/courses">Tanfolyamok</button>
      <button mat-button fxFlex.lt-sm="100%" fxFlex="100px 0 100px" routerLink="/profiles">Tagok</button>
      <button mat-button fxFlex.lt-sm="100%" fxFlex="100px 0 100px" routerLink="/about">Rólunk</button>
      
      <span class="spacer"></span>
      
      <mat-form-field class="search-form">
        <input matInput placeholder="Videó keresése" type="text">
      </mat-form-field>
      <button mat-icon-button aria-label="Keresés">
        <mat-icon>search</mat-icon>
      </button>
      
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>more_vert</mat-icon>
      </button>
  </mat-toolbar>

  <router-outlet></router-outlet>

  <mat-drawer #drawer position="end">

      <ng-container *ngIf="!isLoggedIn">
        <form class="login-form">
          <mat-form-field appearance="standard">
            <mat-label>Felhasználónév</mat-label>
            <input matInput>
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
          <br>
          <mat-form-field appearance="standard">
            <mat-label>Jelszó</mat-label>
            <input matInput type="password">
            <mat-icon matSuffix>vpn_key</mat-icon>
          </mat-form-field>
          <button mat-stroked-button>Bejelentkezés</button>
        </form>
      </ng-container>
      
      <ng-container *ngIf="isLoggedIn">
          <img class="round" src="https://via.placeholder.com/125">
          <h4 class="text">Példa Béla Hosszú Nevű</h4>
          <button color="primary" mat-button>
            <mat-icon>account_box</mat-icon>
            Profilom
          </button>
          <button color="primary" mat-button>
            <mat-icon>videocam</mat-icon>
            Adás menedzser
          </button>
          <button color="primary" mat-button>
            <mat-icon>assignment</mat-icon>
            Projekt menedzser
          </button>
          <button *ngIf="isAdmin" color="primary" mat-button>
            <mat-icon>email</mat-icon>
            Hírlevelek
          </button>
          <button *ngIf="isAdmin" color="primary" mat-button>
            <mat-icon>notifications</mat-icon>
            Értesítés kezelő
          </button>
          <button *ngIf="isAdmin" color="primary" mat-button>
            <mat-icon>star</mat-icon>
            Kiemelés kezelő
          </button>
          <button *ngIf="isAdmin" color="primary" mat-button>
            <mat-icon>group</mat-icon>
            Tanfolyam portál
          </button>
          <button color="primary" mat-button>
            <mat-icon>book</mat-icon>
            BSS Wiki
          </button>
          <button *ngIf="isAdmin" color="primary" mat-button>
            <mat-icon>assessment</mat-icon>
            Statisztikák
          </button>
          <button color="primary" mat-button>
            <mat-icon>exit_to_app</mat-icon>
            Kijelentkezés
          </button>
      </ng-container>

  </mat-drawer>
</mat-drawer-container>
