.mat-drawer-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.mat-toolbar .mat-toolbar-row {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 100;
}
.mat-toolbar .mat-toolbar-row .logo {
    padding-right: 20px;
}

.mat-toolbar .mat-toolbar-row .mat-button {
    text-align: center;
}

.mat-toolbar  .mat-toolbar-row .mat-button {
    text-align: center;
}

.mat-toolbar .mat-form-field{
    padding-top: 12px;
}

.mat-toolbar .search-form{
    font-size: 12px;
}

.mat-drawer {
    min-width: 225px;
}

.mat-drawer .round {
    margin:  25px 50px 10px 50px;
    border-radius: 100%;
    display: block;
}

.mat-drawer .text {
    text-align: center;
}

.mat-drawer .mat-button {
    text-align: left;
}

.mat-drawer button {
    display: block;
    width: 80%;
    margin: auto;
}

.spacer {
    flex: 1 1 auto;
}

@media (min-width: 0) {
    .mat-toolbar {
      min-height: 50px;
    }
    .mat-toolbar-row {
      height: 50px;
      max-height: 50px;
    }
}