.mat-drawer-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.container .mat-toolbar .mat-toolbar-row .logo {
    padding-right: 20px;
}

.container .mat-toolbar .mat-toolbar-row .mat-button {
    text-align: center;
}

.container .mat-toolbar  .mat-toolbar-row .mat-button {
    text-align: center;
}

.container .mat-drawer {
    min-width: 225px;
}

.container .mat-drawer .round {
    margin:  25px 50px 10px 50px;
    border-radius: 100%;
    display: block;
}

.container .mat-drawer .text {
    text-align: center;
}

.container .mat-drawer button {
    display: block;
    width: 80%;
    margin: auto;
}

.spacer {
    flex: 1 1 auto;
}

@media (min-width: 0) {
    .mat-toolbar {
      min-height: 50px; }
    .mat-toolbar-row {
      height: 50px;
      max-height: 50px; } }